.controller.xbox {	
    background: url(https://thedoczek.github.io/blu.svg) !important;
} 

.xbox .button {
    background: url(https://thedoczek.github.io/bluabxy.svg) !important;
}

.xbox .stick {
    background: url(https://thedoczek.github.io/blustick.svg) !important;
}
