@font-face {
	font-family: 'Noto Sans';
	src: url('https://thedoczek.github.io/scripts/NotoSans.ttf');
	src: url('NotoSans.ttf')
}
@font-face {
	font-family: 'Noto Sans';
	src: url('https://thedoczek.github.io/scripts/NotoSans-Italic.ttf');
	src: url('NotoSans-Italic.ttf');
	font-style: italic;
}

* {
	font-family: 'Noto Sans';
}

:root {
	font-size: 100%;
}

table {
  border-collapse: collapse;
  border-color: #e0f2ff;
}

b6 {
  font-weight: 600
}

b5 {
  font-weight: 500
}

a:link, a:visited {
  color: #e0f2ffc0;
  text-decoration: none;
}

a:hover, a:active {
  color: #e0f2ff80;
  text-decoration: underline;
}

utw {
  font-weight: 700;
  font-style: italic;
  font-size: 1.375rem;
}

utw6 {
  font-weight: 600;
  font-style: italic;
  font-size: 1.375rem;
}

wyd {
  font-weight: 300;
  font-style: italic;
  font-size: 0.9375rem;
}

body {
  color:#e0f2ff;
  background-color:#003660;
  font-weight:400;
}
/* body.light {
  color:001860;
  background-color:80ff80;
} */

notl {
  color: #ffe0f2c0;
  text-decoration: none;
}
/* .light notl {
  color: #d00000;
} */

notl:hover {
  color: #ffe0f280;
  text-decoration: underline;
  cursor: pointer;
}
/* .light notl:hover {
  color: #a00000;
} */

.hide div {
  display: none;
}

.hide div:target {
  display: contents;
}

hr {color:e0f2ff}
/* hr.light {color:001860} */
