/* PLAYER 1 */

.controller.xbox#gamepad-0 {	
    background-image: url(https://thedoczek.github.io/Gamepad/blu.svg) !important;
} 

.xbox#gamepad-0 .button {
    background-image: url(https://thedoczek.github.io/Gamepad/abxy.svg) !important;
}

.xbox#gamepad-0 .stick {
    background-image: url(https://thedoczek.github.io/Gamepad/blustick.svg) !important;
}

/* PLAYER 2 */

.controller.xbox#gamepad-1 {	
    background-image: url(https://thedoczek.github.io/Gamepad/gren.svg) !important;
} 

.xbox#gamepad-1 .button {
    background-image: url(https://thedoczek.github.io/Gamepad/abxy.svg) !important;
}

.xbox#gamepad-1 .stick {
    background-image: url(https://thedoczek.github.io/Gamepad/grenstick.svg) !important;
}
