.controller.xbox#gamepad-0 {	
    background-image: url(https://thedoczek.github.io/blu.svg) !important;
} 

.xbox#gamepad-0 .button {
    background-image: url(https://thedoczek.github.io/bluabxy.svg) !important;
}

.xbox#gamepad-0 .stick {
    background-image: url(https://thedoczek.github.io/blustick.svg) !important;
}

.xbox#gamepad-0 .trigger.left {
    background-image: url(https://thedoczek.github.io/bluetrigger.svg) !important;
}

.xbox#gamepad-0 .trigger.right {
    background-image: url(https://thedoczek.github.io/yellowtrigger.svg) !important;
}
